.row:after {
  content: "";
  display: table;
  clear: both; }

.image-column {
    padding: 8px 8px;
    height: 249px;
}

/* The Modal (background) */
.image-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black; }

/* Modal Content */
.image-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px; }

/* The Close Button */
.image-close {
  color: white;
  position: absolute;
  top: 50px;
  right: 5%;
  font-size: 40px;
  font-weight: bold; }

.image-close:hover,
.image-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer; }

.image-slides {
  display: none; }

.cursor {
  cursor: pointer; }

.image-pic {
  width: 100%;
}

/* Next & previous buttons */
.image-prev,
.image-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
.image-next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.image-prev:hover,
.image-next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
.image-numberText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.image-caption {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white; }

.image-trumb {
  opacity: 0.6; }

.active,
.image-trumb:hover {
  opacity: 1; }

img.hover-shadow {
  transition: 0.3s; }

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

div.image-delete {
  position: relative; }

div.image-delete:hover button {
  display: block; }

div.image-delete button {
  position: absolute;
  opacity: 0.7;
  display: none;
  border: none; }

div.image-delete button.fa-trash-o {
  left: 9px; }

div.image-delete button.fa-trash-o {
  top: 210px; }

@media (max-width: 765px) {
  div.image-delete button.fa-trash-o {
    top: 95px; } }

