body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*items gallay 的代码*/
.gallay-container {
    padding: .5vw;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    text-align: center;
}

.gallay-item {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 250px;
    margin: .5vw;
    border: 1px solid #FFD700;
    padding: 1em;
    color: #999;
}

.gallay-container a {
    text-decoration: none;
}

    .gallay-container a:hover {
        color: #999;
    }

.gally-item-detail {
    margin-top: 1em;
}

.gallay-container img {
    width: 100%;
    height: auto;
    /*border-radius: 10px;*/
}

/*.gallay-container div:hover .caption {
    opacity: 1;
}

.gallay-container div:hover img {
    opacity: 1;
    transform: scale(1.15,1.15);
    -webkit-transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    -ms-transform: scale(1.15,1.15);
    -o-transform: scale(1.15,1.15);
}

.gallay-container .caption {
    cursor: pointer;
    position: relative;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.gallay-container img {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.gallay-container .blur {
    background-color: rgba(0,0,0,0.65);
    z-index: 5;
    position: absolute;
}

.gallay-container .caption-text h1 {
    text-transform: uppercase;
    font-size: 2em;
}

.gallay-container .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top: 100px;
}*/

@media screen and (max-width: 400px) {
    .gallay-container div {
        margin: 0;
    }

    .gallay-container {
        padding: 0;
    }
}

/* input starting stylings ------------------------------- */
.hignlight-group {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

    .hignlight-group input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        max-width: 280px;
        border: none;
        border-bottom: 1px solid #757575;
    }

        .hignlight-group input:focus {
            outline: none;
        }

    /* LABEL ======================================= */
    .hignlight-group label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    /* active state */
    .hignlight-group input:focus ~ label, input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #5264AE;
    }

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 231.67px;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

/* active state */
.hignlight-group input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.hignlight-group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}
